body{
  font-family: 'cairo', sans-serif;
  background-color: var(--mainColor);
}

/* products */
.products {
  padding: 40px 0;
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 60px;
  color: var(--subColor);
  animation: downup 1s ease-in-out;
}

.products .products-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  animation: downup 1s ease-in-out  0.5s both;
}
.products .products-items .item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
}

.products .products-items .item .img {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.products .products-items .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.products .products-items .item .details {
  padding: 20px;
  text-align: center;
}
.products .products-items .item:hover {
  transform: translateY(-5px);
}
.products .products-items .item:hover .img img {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}
.products .products-items .item .details h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--subColor);
}

.products .products-items .item .details h3:last-of-type {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.products .products-items .item .details p {
  font-size: 16px;
  color: #666;
  margin-bottom: 120px;
}

.products .products-items .item .details button {
  padding: 5px 20px;
  border: none;
  border-radius: 30px;
  background-color: transparent;
  border: solid 2px var(--subColor);
  color: var(--subColor);
  font-size: 16px;
  font-weight: bold;
  font-family: 'cairo', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.products .products-items .item .details button:hover {
  background-color: var(--subColor);
  color: var(--mainColor);
}




.product-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 60px auto 40px;
  flex-wrap: wrap;
  position: relative;
  width: fit-content;
  animation: updown 1s ease-in-out;
}

.product-filter::before,
.product-filter::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 2px;
  background-color: var(--subColor);
  transform: translateY(-50%);
  z-index: -1;
  width: 100px;
}

.product-filter::before {
  right: 100%;
  margin-right: 15px;
}

.product-filter::after {
  left: 100%;
  margin-left: 15px;
}

.product-filter button {
  background-color: #fff;
  color: var(--subColor);
  border: 1px solid var(--subColor);
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  font-family: 'cairo', sans-serif;
}


.product-filter button.active {
  background-color: var(--subColor);
  color: #fff;
}

.product-filter button:hover {
  background-color: #8c2853;
  color: #fff;
}


@media (max-width: 768px) {
  .product-filter::before,
  .product-filter::after {
    height: 0px;
  }
}