/*  Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  max-height: 1000px;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: var(--mainColor);
  max-width: 800px;
  padding: 0 20px;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1.3;
  animation: updown 0.8s ease-out;
}

.hero p {
  font-size: 20px;
  margin-bottom: 2rem;
  animation: downup 1s ease-out;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
  animation: downup 1s ease-out 0.8s both;
}

.btn {
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn.shop {
  background-color: var(--subColor); 
  color: #fff;
}

.btn.shop:hover {
  background-color: var(--hoverColor);
}

.btn.more {
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
}

.btn.more:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 575.98px) {
  .hero  .hero-content h1 {
    font-size: 40px;
  }
  .hero .hero-content p {
    font-size: 18px;
  }
  .hero .hero-content .hero-buttons {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .hero .hero-content .hero-buttons .btn {
    width: 80%;
  }
}

/* products section */
.products {
  padding: 40px 0;
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.products h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--subColor);
}

.products .products-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}
.products .products-items .item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.products .products-items .item:hover {
  transform: translateY(-5px);
}

.products .products-items .item .img {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.products .products-items .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.products .products-items .item:hover .img img {
  transform: scale(1.3);
}

.products .products-items .item .details {
  padding: 20px;
  text-align: center;
}


.products .products-items .item .details h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--subColor);
}

.products .products-items .item .details p {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.products .products-items .item .details button {
  padding: 5px 20px;
  border-radius: 30px;
  background-color: transparent;
  border: solid 2px var(--subColor);
  color: var(--subColor);
  font-size: 16px;
  font-weight: bold;
  font-family: 'cairo', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}
.products .products-items .item .details button:hover {
  background-color: var(--subColor);
  color: var(--mainColor);
}
.products .btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}
.products .btn button {
  padding: 8px 25px;
  border: none;
  border-radius: 30px;
  background-color: var(--subColor);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: 'cairo', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}
.products .btn button:hover {
  background-color: var(--hoverColor);
}

.products .btn button i {
  margin-right: 7px;
  transition: var(--transition-time);
}
.products .btn button:hover i {
  transform: translateX(-5px);
}

/* our story  */

.our-story {
  background-color: var(--subColor);
  padding: 70px 25px;
  overflow-x: hidden;
}

.our-story .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.story-text {
  flex: 1 1 500px;
}

.story-text h2 {
  font-size: 50px;
  color: white; 
  margin-bottom: 20px;
}

.story-text p {
  font-size: 20px;
  line-height: 1.8;
  color: var(--mainColor);
  margin-bottom: 30px;
}

.story-btn {
  background-color: var(--gold);
  color: var(--subColor); 
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.story-btn:hover {
  background-color: #e6cb8c; 
}

.story-img {
  flex: 1 1 400px;
}

.story-img img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  display: flex;
  justify-items: center;
  align-items: center;
}

.our-story .container .story-text h2::selection,
.our-story .container .story-text p::selection {
  color: var(--subColor) !important;
  background: var(--mainColor) !important;
}

/* choose_us */
.choose_us {
  background-color: var(--mainColor);
  padding: 70px 20px;
  overflow: hidden;
}

.choose_us .features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.choose_us .features-container .feature {
  padding: 30px;
  border-radius: 10px;
  flex: 1 1 300px;
  text-align: center;
}

.choose_us .features-container .feature i {
  color: var(--subColor);
  font-size: 60px;
  margin-bottom: 15px;
}

.choose_us .features-container .feature h3 {
  font-size: 24px;
  color: var(--subColor);
  margin-bottom: 10px;
}

.choose_us .features-container .feature p {
  font-size: 16px;
  color: var(--normalText);
  line-height: 1.6;
}

/* branches */

.branches {
  background-color: var(--subColor);
  padding: 70px 20px;
  text-align: center;
  overflow: hidden;
}
.branches .container {
  max-width: 1200px;
  margin: 0 auto;
}
.section-title {
  font-size: 40px;
  color: var(--mainColor);
  margin-bottom: 50px;
  font-family: 'Cairo', sans-serif;
}

.branches-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.branch-card {
  background-color: #ffffff;
  padding: 25px 20px;
  border-radius: 5px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
}

.branch-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(88, 33, 33, 0.15);
}

.branch-card i {
  font-size: 45px;
  color: #561430;
  margin-bottom: 15px;
  transition: var(--transition-time);
}
.branch-card:hover i {
  transform: rotate(360deg);
}

.branch-card h3 {
  font-size:25px;
  color: var(--subColor);
  margin-bottom: 8px;
  font-weight: bold;
}

.branch-card p {
  color: var(--normalText);
  font-size: 18px;
  margin-bottom: 10px;
}

.branch-card a {
  font-size: 18px;
  color: var(--subColor);
  text-decoration: underline;
  font-weight: 500;
}

/* review Section */
.reviews {
  background-color: var(--mainColor);
  color: #333;
  padding: 80px 20px 120px;
  text-align: center;
  overflow-x: hidden;
}

.reviews .container {
  max-width: 1200px;
  margin: 0 auto;
}
.reviews h2 {
  font-size: 40px;
  margin-bottom: 40px;
  color: var(--subColor);
}

.review-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.review {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  max-width: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.review:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.review p {
  font-size: 16px;
  margin-bottom: 10px;
  font-style: italic;
}

.review h4 {
  font-weight: bold;
  color: var(--subColor);
}

