
/*  Header */
.main-header {
  background-color: #edebe5 ;
  padding: 0.8rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 10vh;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .container .logo {
  display: flex;
  align-items: center;
}

.main-header .container .logo img {
  height: 65px;
  margin-right: 60px;
}

/*  Navigation links */
.nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.nav-links a {
  position: relative;
  margin-left: 30px;
  color:  var(--subColor);
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 15px;
  font-weight: bold;
}

.nav-links a::before,
.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
  background-color: var(--navHover);
  width: 0;
  transition: width 0.2s ease-in-out;
}

.nav-links a::before {
  left: 50%;
  transform: translateX(-50%);
}

.nav-links a::after {
  right: 50%;
  transform: translateX(50%);
}

.nav-links a:hover::before,
.nav-links a:hover::after {
  width: 100%;
}
.nav-links a:hover{
  color: var(--navHover);
}
.nav-links a.active::before,
.nav-links a.active::after {
  width: 100%;
  transition: none;
}
.nav-links a.active {
  color: var(--navHover);
}



.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--subColor);
}

@media (max-width: 768px) {
  .main-header {
    height: auto;
    padding: 1rem 1.5rem;
  }

  .main-header .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .menu-toggle {
    display: block;
    align-self: center;
    padding-left: 30px;
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: right;
    margin-top: 10px;
  }

  .nav-links a {
    margin: 10px 0;
    font-size: 16px;
  }

  .nav-links.open {
    display: flex;
    width: 100%;
  }

  .main-header .logo img {
    margin: 0;
    height: 50px;
  }
}

/*  Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: var(--mainColor);
  max-width: 800px;
  padding: 0 20px;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1.3;
}

.hero p {
  font-size: 20px;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn.shop {
  background-color: #561430; 
  color: #fff;
}

.btn.shop:hover {
  background-color: #752648;
}

.btn.more {
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
}

.btn.more:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 575.98px) {
  .hero  .hero-content h1 {
    font-size: 40px;
  }
  .hero .hero-content p {
    font-size: 18px;
  }
  .hero .hero-content .hero-buttons {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .hero .hero-content .hero-buttons .btn {
    width: 80%;
  }
}

/* products */
.products {
  padding: 40px 0;
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 15px;
  color: var(--subColor);
}

.products .products-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}
.products .products-items .item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.products .products-items .item .img {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.products .products-items .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.products .products-items .item .details {
  padding: 20px;
  text-align: center;
}
.products .products-items .item:hover {
  transform: translateY(-5px);
}
.products .products-items .item:hover .img img {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}
.products .products-items .item .details h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--subColor);
}

.products .products-items .item .details p {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.products .products-items .item .details button {
  padding: 5px 20px;
  border: none;
  border-radius: 30px;
  background-color: transparent;
  border: solid 2px var(--subColor);
  color: var(--subColor);
  font-size: 16px;
  font-weight: bold;
  font-family: 'cairo', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.products .products-items .item .details button:hover {
  background-color: var(--subColor);
  color: var(--mainColor);
}
.products .btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}
.products .btn button {
  padding: 8px 25px;
  border: none;
  border-radius: 30px;
  background-color: var(--subColor);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: 'cairo', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.products .btn button:hover {
  background-color: var(--hoverColor);
}

.products .btn button i {
  margin-right: 7px;
}

/* our story  */

.our-story .container .story-text h2::selection,
.our-story .container .story-text p::selection {
  color: var(--subColor) !important;
  background: var(--mainColor) !important;
}
.our-story {
  background-color: var(--subColor);
  padding: 70px 25px;
}

.our-story .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.story-text {
  flex: 1 1 500px;
}

.story-text h2 {
  font-size: 50px;
  color: #FFF8E7; 
  margin-bottom: 20px;
}

.story-text p {
  font-size: 20px;
  line-height: 1.8;
  color: var(--mainColor);
  margin-bottom: 30px;
}

.story-btn {
  background-color: #F4C95D;
  color: #561430; 
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.story-btn:hover {
  background-color: #e6cb8c; 
}

.story-img {
  flex: 1 1 400px;

}

.story-img img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  display: flex;
  justify-self: center;
  align-items: center;
}

/* choose_us */
.choose_us {
  background-color: var(--mainColor);
  padding: 70px 20px;
}

.choose_us .features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.choose_us .features-container .feature {
  padding: 30px;
  border-radius: 10px;
  flex: 1 1 300px;
  text-align: center;
}

.choose_us .features-container .feature i {
  color: var(--subColor);
  font-size: 60px;
  margin-bottom: 15px;
}

.choose_us .features-container .feature h3 {
  font-size: 24px;
  color: var(--subColor);
  margin-bottom: 10px;
}

.choose_us .features-container .feature p {
  font-size: 16px;
  color: #4f4d4d;
  line-height: 1.6;
}

/* branches */

.branches {
  background-color: var(--subColor);
  padding: 70px 20px;
  text-align: center;
}
.branches .container {
  max-width: 1200px;
  margin: 0 auto;
}
.section-title {
  font-size: 32px;
  color: var(--mainColor);
  margin-bottom: 50px;
  font-family: 'Cairo', sans-serif;
}

.branches-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.branch-card {
  background-color: #ffffff;
  padding: 25px 20px;
  border-radius: 5px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.branch-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(88, 33, 33, 0.15);
}

.branch-card i {
  font-size: 45px;
  color: #561430;
  margin-bottom: 15px;
}

.branch-card h3 {
  font-size:25px;
  color: #561430;
  margin-bottom: 8px;
  font-weight: bold;
}

.branch-card p {
  color: #4f4d4d;
  font-size: 18px;
  margin-bottom: 10px;
}

.branch-card a {
  font-size: 18px;
  color: #561430;
  text-decoration: underline;
  font-weight: 500;
}

/* review Section */
.reviews {
  background-color: #EDEBE5;
  color: #333;
  padding: 80px 20px;
  text-align: center;
}

.reviews h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: var(--subColor);
}

.review-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.review {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.review p {
  font-size: 16px;
  margin-bottom: 10px;
  font-style: italic;
}

.review h4 {
  font-weight: bold;
  color: #561430;
}

/* footer */

footer {
  background-color: var(--subColor);
  color: var(--mainColor);
  text-align: center;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px 60px;
}

footer .container .footer_logo img {
  height: 200px;
  margin-right: 20px;
}

footer .container .footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .container .footer-links a {
  color: var(--mainColor);
  margin: 10px 0;
  font-size: 16px;
  transition: color 0.3s ease;
  font-weight: bold;
}



footer .container .footer-links a:hover {
  color: #F4C95D;
}

.ahmed {
  margin-top: 40px;
  color: var(--mainColor);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ahmed a i {
  color: var(--mainColor);
  font-size: 20px;
  margin-right: 8px;
  margin-top: 3px;
  border: #440f25 solid 12px;
  border-radius: 50%;
}


footer .container .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


footer .container .contact p {
  font-size: 16px;
  color: var(--mainColor);
}

footer .container .contact .social a i {
  color: var(--mainColor);
  font-size: 22px;
  margin-right: 8px;
  margin-top: 3px;
  transition: all 0.3s ease;
}
footer .container .contact .social a i:hover {
  transform: translateY(-2px);
}
/* footer .container .contact .social a:nth-child(1):hover i  {
  color: #E1306C;
}
footer .container .contact .social a:nth-child(2):hover i  {
  color: #1877F2;
}
footer .container .contact .social a:nth-child(3):hover i  {
  color: #EE1D52 ;
}
footer .container .contact .social a:nth-child(4):hover i  {
  color: #1DA1F2;
} */

@media (max-width: 768px) {
  footer .container {
    grid-template-columns: repeat(1, 1fr); 
    padding: 30px 100px;
    text-align: center;
  }

  footer .container .footer_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .container .footer_logo img {
    height: 120px;
    margin: 0 auto 10px auto;
  }

  .ahmed {
    margin: 10px 0;
    font-size: 18px;
  }

  .ahmed a i {
    font-size: 18px;
    margin: 5px;
    border-width: 8px;
  }

  footer .container .footer-links {
    margin: 10px 0;
  }

  footer .container .footer-links a {
    font-size: 14px;
  }

  footer .container .contact iframe {
    width: 100%;
    height: 180px;
  }

  footer .container .contact p {
    font-size: 14px;
  }

  footer .container .contact .social a i {
    font-size: 20px;
    margin: 5px;
  }

  .footer-bottom {
    padding: 15px 10px;
  }

  .footer-bottom p {
    font-size: 14px;
  }
}


@media (min-width: 576px) and (max-width: 991.98px) {
  footer .container {
  grid-template-columns: repeat(2, 1fr); 
  padding: 30px 50px;
  text-align: center;
  gap: 40px;
}
}

footer .footer-bottom {
  margin-top: 20px;
  font-size: 16px;
  color: var(--subColor);
  background-color: var(--mainColor);
  padding: 5px 0px;
  font-weight: bold;
}

footer .container .footer-links a::selection ,
footer .container .contact p::selection ,
.ahmed h3::selection{
  color:  var(--subColor) !important;
  background: var(--mainColor) !important;
}